.comments{
    width: clamp(50%, 550px, 90%);
    padding: 15px;
    margin: auto;
    background-color: #2F2F2F;
    color: whitesmoke;
}

.img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.comment{
    display: flex;
    width: 100%;
}

label{
    margin-top: 25px;
}

.userComment{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #7A7A7A;
    border-radius: 10px;
    padding: 1px;
}